.top {
    width: 80%;
    margin: 0 auto;
    height: 48px;
    padding: 48px 0;
    /* background-color: pink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top .logo {
    width: 120px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.top .logo img {
    width: 120px;
    height: 28px;
}

.top .home {
  /* width: 400px; */
  height: 48px;
  background: rgba(0, 0, 0, .05);
  border-radius: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  border: 1px solid #c3c3d8;
  background: rgba(0, 0, 0, .1);
}

.top .home a {
  display: block;
  border-radius: 24px;
  padding: 12px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.home a:hover {
  background-color: #fff;
}

.home a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.top .search {
  /* width: 170px; */
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top .search a {
  display: block;
  width: 125px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px 8px 16px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: normal;
}

/* .top .search div img {
    width: 20px;
    height: 20px;
} */
.top .search .search-l {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 125px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #64748b33;
  box-sizing: border-box;
  /* background-color: #64748b1a; */
  background-color: white;
  /* padding: 8px 24px 8px 16px; */
}

/* .top .search input::after {
    content: 'Search';
    display: block;
    width: 20px;
    height: 10px;
    position: absolute;
    
} */

.search .tx {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #e8ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    cursor: pointer;
}

.search .tx img {
    width: 20px;
    height: 20px;
}

.top .search a:hover {
    background-color: black;
    color: white;
}

.search .tx:hover{
    background-color: black;
    color: white;
}

/* 主要内容部分 */

.main {
    height: 256px;
    padding: 48px 0;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main div:nth-child(1) {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.main div:nth-child(1) img {
    width: 256px;
    height: 60px;
}

.main p {
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

/* .main form {
    position: relative;
} */

/* .main form img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 15px;
} */
 .main .search1 {
    width: 100%;
    height: 48px;
    /* background-color: red; */
    border-radius: 24px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border: 1px solid #aaa;
    transition: all ease-in 200ms;
 } 

 .main .search1 img {
    width: 20px;
    height: 25px;
    margin: 12px;
 }
.main .search1:focus-within {
    outline: 2px solid #cbd5e1;
    border-color: #cbd5e1;
  }

.main input {
    flex: 1;
    height: 20px;
    border: none;
    outline: none;
    /* color: #64748b;
    font-size: 16px; */
    /* padding: 8px 16px 8px 48px; */
    margin: 0 3px 0 0;
    font-size: 16px;
    /* border: 1px solid #aaa; */
}

.main button {
  padding: 8px 24px;
  font-size: 16px;
  text-align: center;
  border-radius: 24px;
  background-color: #000;
  border: none;
  outline: transparent solid 3px;
  color: #fff;
  cursor: pointer;
}

.main button:hover {
    background-color: #000000cc;
}

.main button:active {
    background-color: #000;
    outline: #888 solid 3px;
}

/* .main a { */
    /* width: 80px;
    height: 48px; */
    /* display: block; */
    /* text-align: center; */
/* } */

/* .main div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .main div:nth-of-type(2) button {
    width: 80px;
    height: 48px;
    border-radius: 24px;
    padding: 8px 24px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
} */


.que {
    height: 430px;
    padding-top: 96px;
}
.que h1{
    text-align: center;
    font-size: 27px;
}

.que>p {
    text-align: center;
    color: #64748b;
    font-size: 16px;
    line-height: 24px;
    /* font-weight: 600; */
    padding: 16px 0 48px 0;
}

.que .con {
    border: 1px solid #d6dae3;
    padding: 20px 24px;
    /* background-color: #e2ebf4; */
    background: rgba(0, 0, 0, .05);
    /* margin-bottom: 85px; */
    border-radius: 10px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    cursor: pointer;
    /* margin-bottom: 96px; */
}

.que .con label {
    display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 68px;
  font-size: 18px;
  /* font-weight: 500; */
  /* padding: 20px 24px; */
  /* box-sizing: border-box; */
}

.que .con label img {
    width: 24px;
    height: 24px;
    transition: all ease-in-out 300ms;
}

.que .con div {
    height: 0;
  overflow: hidden;
  /* padding: 0 24px; */
  line-height: 24px;
  transition: height ease-in 200ms;
}

#toggle:checked ~ label > img {
    transform: rotate(45deg);
    color: #0891b2;
  }

  #toggle:checked ~ div {
    height: 64px;
  }
/* .que .con div:nth-of-type(1) {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
}

.que .con span:nth-of-type(1) {
    width: 24px;
    height: 24px;
}

.que .con span:nth-of-type(1) img {
    width: 24px;
    height: 24px;
} */

.bottom {
    /* text-align: center; */
    height: 108px;
    padding-bottom: 96px;
    /* padding: 96px 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottom img {
    width: 120px;
    height: 28px;
    margin-bottom: 12px;
}

.bottom p a {
    /* margin: 15px 0; */
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.bottom .last {
    color: #64748b;
    font-size: 14px;
}


.tabbar {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100vw;
    height: 64px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 1024px) {
    .header {
      padding: 48px 0;
    }
  }

  @media screen and (max-width: 1024px) {
    .header-r__search {
      display: none;
    }
  }

  /* 当屏幕尺寸小于770px container的宽度就是屏幕的宽 */
/* 当屏幕尺寸大于等于于770px container的宽度就是770px */

  @media screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }
  @media screen and (min-width: 771px) {
    .container {
      width: 770px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .header-menu {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .tabbar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #fff;
    }
    .tabbar-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
    }
    .tabbar-item > input:checked ~ svg {
      color: #207ee1;
    }
    .tabbar-item > input:checked ~ span {
      color: #207ee1;
    }
}