/* 全局样式 */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

input {
    border: none;
}

/* 版心 */
.warp {
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .warp {
        width: 100vw;
    }
}

@media screen and (min-width: 993px) {
    .warp {
        width: 992px;
    }
}

/* 定位布局 */
.fix {
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 0;
    height: 54px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
    border-radius: 30px;
    z-index: 21;
}

.fix a {
    display: flex;
    align-items: center;
    width: 120px;
}

.fix ul {
    width: 400px;
    height: 54px;
    display: flex;
    justify-content: space-around;
}

.fix ul li {
    border-radius: 30px;
    margin: 5px 0;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.fix ul li a {
    color: #000;
}

.fix ul li a svg {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 20px;
}

.fix ul li:hover {
    background-color: #fff;
}

/* 头部样式 */
.top {
    height: 54px;
    padding: 44px 0;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .top .nav {
        display: none;
    }
    .fix{
        display: block;
    }
}

@media screen and (min-width: 801px) {
    .top .nav {
        width: 400px;
    }
}

.top a {
    display: flex;
    align-items: center;
    width: 120px;
}

.top .nav {
    height: 54px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.top .nav ul {
    width: 400px;
    height: 54px;
    display: flex;
    justify-content: space-around;
}

.top .nav ul li {
    border-radius: 30px;
    margin: 5px 0;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.top .nav ul li a{
    color: #000;
}

.top .nav ul li a svg {
    width: 30px;
    height: 30px;
    margin: 0 10px 0 20px;
}

.top .nav ul li:hover {
    background-color: #fff;
}

.top form {
    width: 190px;
    height: 43px;
    line-height: 54px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.top form input {
    width: 75px;
    padding-left: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
}

.top form input:hover,
.top form input:hover + svg{
    background-color: #000;
    color: #fff;
}

.top form>svg {
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    left: 18px;
    top: 14px;
}

.top form div {
    width: 43px;
    height: 43px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.top .admin {
    cursor: pointer;
    position: relative;
}

.top .admin:hover {
    color: #fff;
    background-color: #000;
}

.top .admin svg{
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: 12px;
    left: 14px;
}

.top .top-introduction {
    color: #fff;
}

/* 主体样式 */
.main {
    background-color: #eee;
}

.main ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
}

.main ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.main ul li svg{
    margin: 20px;
    background-color: #ccc;
    border: 1px solid #777;
    border-radius: 10px;
    transition: all .5s;
}

.main ul li svg:hover {
    box-shadow: 10px 10px 10px;
}

@media screen and (max-width:556px) {
    .sm-hidden {
        display: none;
    }
    .sm-visible {
        display: block;
    }
    .sm-1 {
        width: 4.16666666667%;
    }
    .sm-2 {
        width: 8.33333333333%;
    }
    .sm-3 {
        width: 12.5%;
    }
    .sm-4 {
        width: 16.66666666667%;
    }
    .sm-5 {
        width: 20.83333333333%;
    }
    .sm-6 {
        width: 25%;
    }
    .sm-7 {
        width: 29.16666666667%;
    }
    .sm-8 {
        width: 33.33333333333%;
    }
    .sm-9 {
        width: 37.5%;
    }
    .sm-10 {
        width: 41.66666666667%;
    }
    .sm-11 {
        width: 45.83333333333%;
    }
    .sm-12 {
        width: 50%;
    }
    .sm-13 {
        width: 54.16666666667%;
    }
    .sm-14 {
        width: 58.33333333333%;
    }
    .sm-15 {
        width: 62.5%;
    }
    .sm-16 {
        width: 66.66666666667%;
    }
    .sm-17 {
        width: 70.83333333333%;
    }
    .sm-18 {
        width: 75%;
    }
    .sm-19 {
        width: 79.16666666667%;
    }
    .sm-20 {
        width: 83.33333333333%;
    }
    .sm-21 {
        width: 87.5%;
    }
    .sm-22 {
        width: 91.66666666667%;
    }
    .sm-23 {
        width: 95.83333333333%;
    }
    .sm-24 {
        width: 100%;
    }
}

@media screen and (min-width:556px) and (max-width:768px) {
    .md-hidden {
        display: none;
    }
    .md-visible {
        display: block;
    }
    .md-1 {
        width: 4.16666666667%;
    }
    .md-2 {
        width: 8.33333333333%;
    }
    .md-3 {
        width: 12.5%;
    }
    .md-4 {
        width: 16.66666666667%;
    }
    .md-5 {
        width: 20.83333333333%;
    }
    .md-6 {
        width: 25%;
    }
    .md-7 {
        width: 29.16666666667%;
    }
    .md-8 {
        width: 33.33333333333%;
    }
    .md-9 {
        width: 37.5%;
    }
    .md-10 {
        width: 41.66666666667%;
    }
    .md-11 {
        width: 45.83333333333%;
    }
    .md-12 {
        width: 50%;
    }
    .md-13 {
        width: 54.16666666667%;
    }
    .md-14 {
        width: 58.33333333333%;
    }
    .md-15 {
        width: 62.5%;
    }
    .md-16 {
        width: 66.66666666667%;
    }
    .md-17 {
        width: 70.83333333333%;
    }
    .md-18 {
        width: 75%;
    }
    .md-19 {
        width: 79.16666666667%;
    }
    .md-20 {
        width: 83.33333333333%;
    }
    .md-21 {
        width: 87.5%;
    }
    .md-22 {
        width: 91.66666666667%;
    }
    .md-23 {
        width: 95.83333333333%;
    }
    .md-24 {
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .lg-hidden {
        display: none;
    }
    .lg-visible {
        display: block;
    }
    .lg-1 {
        width: 4.16666666667%;
    }
    .lg-2 {
        width: 8.33333333333%;
    }
    .lg-3 {
        width: 12.5%;
    }
    .lg-4 {
        width: 16.66666666667%;
    }
    .lg-5 {
        width: 20.83333333333%;
    }
    .lg-6 {
        width: 25%;
    }
    .lg-7 {
        width: 29.16666666667%;
    }
    .lg-8 {
        width: 33.33333333333%;
    }
    .lg-9 {
        width: 37.5%;
    }
    .lg-10 {
        width: 41.66666666667%;
    }
    .lg-11 {
        width: 45.83333333333%;
    }
    .lg-12 {
        width: 50%;
    }
    .lg-13 {
        width: 54.16666666667%;
    }
    .lg-14 {
        width: 58.33333333333%;
    }
    .lg-15 {
        width: 62.5%;
    }
    .lg-16 {
        width: 66.66666666667%;
    }
    .lg-17 {
        width: 70.83333333333%;
    }
    .lg-18 {
        width: 75%;
    }
    .lg-19 {
        width: 79.16666666667%;
    }
    .lg-20 {
        width: 83.33333333333%;
    }
    .lg-21 {
        width: 87.5%;
    }
    .lg-22 {
        width: 91.66666666667%;
    }
    .lg-23 {
        width: 95.83333333333%;
    }
    .lg-24 {
        width: 100%;
    }
}

@media screen and (min-width:992px) {
    .xl-hidden {
        display: none;
    }
    .xl-visible {
        display: block;
    }
    .xl-1 {
        width: 4.16666666667%;
    }
    .xl-2 {
        width: 8.33333333333%;
    }
    .xl-3 {
        width: 12.5%;
    }
    .xl-4 {
        width: 16.66666666667%;
    }
    .xl-5 {
        width: 20.83333333333%;
    }
    .xl-6 {
        width: 25%;
    }
    .xl-7 {
        width: 29.16666666667%;
    }
    .xl-8 {
        width: 33.33333333333%;
    }
    .xl-9 {
        width: 37.5%;
    }
    .xl-10 {
        width: 41.66666666667%;
    }
    .xl-11 {
        width: 45.83333333333%;
    }
    .xl-12 {
        width: 50%;
    }
    .xl-13 {
        width: 54.16666666667%;
    }
    .xl-14 {
        width: 58.33333333333%;
    }
    .xl-15 {
        width: 62.5%;
    }
    .xl-16 {
        width: 66.66666666667%;
    }
    .xl-17 {
        width: 70.83333333333%;
    }
    .xl-18 {
        width: 75%;
    }
    .xl-19 {
        width: 79.16666666667%;
    }
    .xl-20 {
        width: 83.33333333333%;
    }
    .xl-21 {
        width: 87.5%;
    }
    .xl-22 {
        width: 91.66666666667%;
    }
    .xl-23 {
        width: 95.83333333333%;
    }
    .xl-24 {
        width: 100%;
    }
}

.main .more {
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: 1px solid #777;
    margin: 50px 0;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.main .more:hover {
    color: #fff;
    background-color: #000;
}

/* 底部样式 */
.copy {
    height: 150px;
    font-size: 12px;
    text-align: center;
    background-color: #eee;
}

.copy img {
    width: 120px;
}

.copy a:hover {
    text-decoration: underline;
}

.copy-Center {
    width: 340px;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    margin: 25px auto;
}

.copy-Center a {
    color: #000;
}

.copy-Bottom,
.copy-Bottom a {
    font-weight: bolder;
    color: #777;
}

.copy-Bottom {
    width: 340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}